﻿@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
<div class="row">
    <div class="col-md-8 offset-1-md-2">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ImageUrl" alt="@item.Name" style="max-width:150px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(ModelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(ModelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                            <a class="btn btn-outline-danger"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>